:root {
    --black: #171321;
    --dkblue: #0d314b;
    --plum: #4b0d49;
    --hotmag: #ff17e4;
    --magenta: #e310cb;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --font-size: 1rem;
    --mono: Oxygen mono, monospace;
    --sans: IBM Plex Sans, sans-serif;
}
/* border box model: https://css-tricks.com/box-sizing/ */
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: var(--sans);
    font-size: var(--font-size);
    color: var(--white);
    background-color: var(--black);
    margin: 0;
    padding: 0;
    
    /*  line-height: 1.5;*/
}
h1, h2, h3 {
    font-family: var(--mono);
    font-weight: normal;
    margin: 0;
}
a {
    color: var(--aqua);
    
}
a:hover {
    color: var(--hotmag);
    text-decoration: none;
}

/*navbar*/

nav {
    font-family: var(--mono);
    margin: 2rem auto;
    font-size: 100%;
    padding: 0;
    /* background-color: var(--dkblue); */
}

nav h1 a {
    font-family: var(--sans);
}

nav ul {
    list-style-type: none;
    margin: 0 100px;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-family: var(--mono);
}

nav li:first-child {
    flex-basis: 100%;
    text-align: center;
    min-width: 200px;
    
}
nav [class*="fa-"] {    /*esto cambia el color de los iconos*/
    font-size: 150%;
    color: var(--aqua);
    vertical-align: middle;
}

nav a{
    color: var(--white);
    text-decoration: none;
    display: block; /*interesante: se usa esta propiedad para que el area de click agarre todo el espacio de la caja    */
}

nav a:hover *, nav [class*="fa-"]:hover {
    color: var(--magenta);
}


.button:hover * {
    color: var(--magenta);
}

.button{
    background-color: var(--magenta);
    color: var(--aqua);
    padding: 0.5rem;
    border-radius: 5px;
    text-decoration: none;
}
.button:hover{
    background-color: var(--aqua);
    color: var(--magenta);
    text-decoration: none;
}

.line-gradient{
    height: 2px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(142,0,115,1) 100%);

}
#canvas {
	display: block;
    z-index: -1;
    position : absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 100vw;
    height: 100vh;
}
#menu{
    display:none;
}
.menu-mobile.inactive {
    display: none;
}
.menu-mobile.active {
    display: none;
}
/* section: introduccion */

#intro {
    padding:  5% ;
    height: 85vh;
    overflow: hidden;
    /* max-width: 1000px; */
    /* background-color: var(--dkblue); */
}

#intro p{
    font-family: var(--mono);
    font-size: 1rem;
    line-height: 1.75;
    margin: 3vh 0 0 ;

}

#intro h2 {
    font-size: 1.5rem;
    line-height: 1.5;
     
    /* background-color: var(--plum); */
}

#intro .name {
    font-size: 1.5rem;
    line-height: 1.2;
    font-family: var(--mono);
    margin: 5vh 0 0;
}
.name span {
    font-family: var(--sans);
    font-size: 3rem;
    line-height: 1.5;
    color: var(--aqua);
    display: block;
    font-weight: 900;
    margin: 2vh 0 0;
}

#intro .slogan {
    
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: normal;
    margin: 2vh 0 0;
}

#intro .slogan2 {
    margin: 0px 0 25px;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: normal
}

/*proyectos*/

.content-pro{
    background-color: #00243d;
    padding: 2px;
    color: var(--white);
    text-align: center;
    margin: 2px auto;

}
.proyectos{
    width: 95%;
    margin: auto;
    height: 80vh; 
    /* display: grid;
    justify-content: space-evenly;
    grid-template: 1fr / 1fr 1fr 1fr; */
}

.content-pro h2{
    font-family: var(--mono);
    font-size: 2rem;
    text-align: center;
    margin: 50px;
}


.swiper {
    width: 100%;
    height: 90%;
  }

 .project{
    height: 500px;
        
}

 .swiper .swiper-button-next{
    color: var(--hotmag);
    
  }
  .swiper .swiper-button-prev{
    color: var(--hotmag);
    
  }
.project img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    
}
.content-pro{
    background-color: #00243d;
}

/*section contacto*/
#contact {
    padding: 1rem 0;
    background-color: var(--dkblue);
    color: var(--white);
    text-align: center;
    
}
#contact h3 {
    font-size: 2rem;
    line-height: 2;
    margin: 0;
    padding-top: 2rem;
}
#contact p {
    font-size: 1.5rem;
    line-height: 2;
    margin: 0;
}
#contact a {
    color: var(--aqua);

}
#contact a:hover {
    color: var(--hotmag);
    text-decoration: none;
}
 section [class*="fa-"] {    /*esto cambia el color de los iconos*/
    padding: 2rem 0;
    font-size: 150%;
    color: var(--aqua);
    vertical-align: middle;
}


/* about */
.about-me {
    font-family: var(--mono);
    font-size: 1.5rem;
    text-align: center;
    margin: 50px;
}

/*footer: */

footer {
    padding: 1.5rem;
    background-color: var(--dkblue);
    color: var(--white);
    text-align: center;
    vertical-align: middle;
    margin: 2px auto;
    font-size: 2rem;
}
footer a {
    color: var(--aqua);
    text-decoration: none;
}
footer ul {  
    color: var(--aqua);
    list-style-type: none;
    display: flex;
    margin: 2rem 0 ;
    padding: 0;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-size: 3rem;
}
footer p {
    font-size: 2rem;
    margin: 0;
}

  /*media queries*/
  @media (min-width: 850px) {
    nav {
      max-width: 1400px;
      margin: 2rem auto;
    }
    nav li:first-child {
      flex-basis: auto;
      text-align: left;
      margin-right: auto;
      
    }
}
@media (max-width: 1110px )   {

    nav ul {
        list-style-type: none;
        margin: 0 100px;
        padding: 0;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        font-family: var(--mono);
        
    }

    div li:not(:last-child){
        
        border-bottom: 1px solid var(--plum);
    }

    #menu{
        display:inline;
    }
    .menu-mobile.inactive {
        display: none;
    }
    .menu-mobile.active {
        display: block;
        text-align: center;
        font-family: var(--mono);
        list-style-type: none;
        
    }
    .menu-mobile li{
        height: 40px;
        list-style-type: none;
        margin: 20px 0 0;
        padding: 4px 0px;
        
    }
    .menu-mobile ul{
        margin: auto;
        margin:0;
        padding: 0;
    }
    .menu-mobile li:not(:last-child) a{
        text-decoration: none;
        padding: 10px 120px; 
    }
    nav li:not(:first-child , :last-child) { 
        display: none;
    }
    nav li:first-child {
        flex-basis: 100%;
        text-align: center;
    }
    #intro {
        padding:  5% ;
        height: 90vh;
        overflow: hidden;
        /* max-width: 1000px; */
        /* background-color: var(--dkblue); */
    }
    .proyectos{
        width: 95%;
        margin: auto;
        height: 70vh; 
        /* display: grid;
        justify-content: space-evenly;
        grid-template: 1fr / 1fr 1fr 1fr; */
    }
    .project img {
        width: 250px;
        height: 250px;
        border-radius: 5px;
        margin: 0;
        padding: 0;
    }

  }
  @media (max-width: 353px) {
    #intro{
        padding:  5% ;
        height: 75vh;
        
        /* max-width: 1000px; */
        /* background-color: var(--dkblue); */
    }
    #intro p:last-child{
        display:none;
    
    }
    
  }